# <h3>tuple</h3>

In [6]:
t1=()#empty Tuple

In [7]:
t1

()

In [8]:
t1=(10)#tuple with one value #just liike assigning Value to t1

In [9]:
t1

10

In [65]:
t1=(10,)#separate with comma

In [63]:
t1=tuple(11)

TypeError: 'int' object is not iterable

In [64]:
t1

(10,)

In [13]:
type(t1)

tuple

In [15]:
t2=10, #defie tuple without braces
t3=10,20,30
t4=40,50,60,

In [16]:
type(t2)

tuple

In [17]:
type(t3)

tuple

In [18]:
type(t4)

tuple

In [20]:
#difference between tuple and list
t5=(1,2,3.14,50,'ABC','xy')
list1=[1,2,3.14,50,'ABC','xy']#tuple and list have same element
import sys

In [21]:
sys.getsizeof(t5)

96

In [22]:
sys.getsizeof(list1)

112

In [23]:
#check function available on tuple
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [24]:
t5.count(2) #occurances of value in tuple

1

In [26]:
t5.index(1)#return index of value in tuple

0

In [28]:
t5.index(2) #return index of value in tuple

1

In [29]:
id(t5)

85404648

In [33]:
#concatenation of tuple
t6=(1,2,3,4)
t7=('ABC','XYZ')
print(t6+t7)

(1, 2, 3, 4, 'ABC', 'XYZ')

In [34]:
#nesting of tuple
t8=(t6,t7)
print(t8)

((1, 2, 3, 4), ('ABC', 'XYZ'))

In [37]:
#repeatation in tuple
t9=t6*3
print(t9)

t10=(1,2)*4
print(t10)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 1, 2, 1, 2, 1, 2)

In [38]:
#check tuple immutable
t10[0]=20

TypeError: 'tuple' object does not support item assignment

In [39]:
#Slicing in tuple
t11=(1,2,3,4,5,6)

In [42]:
t11[1:6:1]

(2, 3, 4, 5, 6)

In [43]:
t11[0:5:1]

(1, 2, 3, 4, 5)

In [44]:
t11[::-1]

(6, 5, 4, 3, 2, 1)

In [45]:
#print 4,5
t11[3:5:1]

(4, 5)

In [46]:
#deleting tuple
t12=(1,2,)

In [47]:
del t12 #deleting tuple

In [48]:
t12

NameError: name 't12' is not defined

In [51]:
#finding length of tuple
t13=(1,2,3,4)
print("length of tuple",len(t13))

length of tuple 4

In [54]:
#converting string and list into tuple
list2=[1,2,3,4,5,'ABC']
name="python"

In [57]:
#use for conversion into tuple => tuple ()
t14=tuple(list2)
t15=tuple(name)

In [58]:
t14,t15

((1, 2, 3, 4, 5, 'ABC'), ('p', 'y', 't', 'h', 'o', 'n'))